@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

div
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.tg a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ss{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

h2
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

html, body
{
    padding: 0px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;

    background-color: #CAE9FF;
}

header
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 150px;

    background-color: #1B4965;
}

.header-item
{
    color: white;
}

.vertical-line {
    border-left: 3px solid #1B4965;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.main-block{
    background-color: #BEE9E8;
    width: 700px;
    padding: 20px;
    border-radius: 50px; 
}

.text-block h1
{
    text-shadow:
    1px 1px 2px red,
    0 0 1em rgb(250, 180, 17),
    0 0 0.2em rgb(85, 255, 0);
}

.text-block
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main
{
    
    width: 100%;
}

.menu
{
    background-color: #BEE9E8;
    padding: 10px;
    border-radius: 15px;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h2
{
    transition: 0.2s;
}

.menu h2:hover
{
    scale: 1.05;
    text-decoration: underline;
    transition: 0.2s;
}

.pic_up{
  width: 40px;
}
.pic_up a:hover{
  background:#04080F;
}

.pic_up a:active{
  background: #04080F;
} 

.form {
  width: 30%;
  margin-right: 50px;
}

.two-image img
{
    position: absolute;
    width: 500px;
}

.two-image img:first-child
{
    right: 150px;
    top: 350px;
}

.two-image img:last-child
{
    right: 90px;
    top: 450px;
}

.wrapper-block
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 100px;

    background-image: url(https://images.wallpaperscraft.ru/image/single/kod_programmirovanie_tekst_155013_1920x1080.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

hr 
{
  border-width: 1.5px;
  border-color: black;
}

.news-block h1 {
  text-align: center;
}

.news-item
{
  line-height: 35px;
}

a:hover
{
  text-shadow:
    1px 1px 2px red,
    0 0 1em rgb(250, 180, 17),
    0 0 0.2em rgb(85, 255, 0);
    transition: 0.3s;
}

a
{
  color: white;
  transition: 0.3s;
}

.hr-news
{
  border-width: 1.5px;
  border-color: white;
  width: 100%;
}

.flex-wrapper
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.news-item
{
  background-color: #1B4965;
  padding: 20px;
  width: 500px;
  height: 450px;
  color: white;
}

.menu-item-text
{
  margin-left: 50px;
  color: white;
  line-height: 28px;
}


.menu-item
{
  margin: 150px auto;
  display: flex;
  width: 1300px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: #1B4965;
}

.menu-item:first-child
{
  padding-right: 20px;
}
.menu-item:last-child
{
  padding-right: 20px;
}

.menu-item:last-child
{
  align-items: flex-start;
}

.menu-item:last-child img
{
  width: 512px;
  height: 650px;
}

.menu-item img:first-child
{
  float: left;
}

.prefer
{
  text-shadow:
    1px 1px 2px red,
    0 0 1em rgb(250, 180, 17),
    0 0 0.2em rgb(85, 255, 0);
}

.flex {
  display: flex;
}

.flex_just_between {
  justify-content: space-between;
}

.flex_just_center {
  justify-content: center;
}

.container {
  width: 50%;
  margin: auto;
  color: white;
}

footer
{
  width: 100%;
  background-color: #1B4965;
  padding-top: 50px;
}

.flex_align_center {
  align-items: center
}

.flex_end{
  justify-content:flex-end;
}

.gap_20 {
  gap: 20px;
}

up {
  background: #BBD1EA;
  position: fixed;
  top: 90%;
  left: 95%;
  width: 40px;
  height: 40px;
  z-index: 5;
}

.menu-item img
{
  width: 512px;
  height: 530px;
}

.two-image
{
    background-color: #CAE9FF;
    width: 200px;
    height: 380px;
    margin-right: 150px;
}

/* ------------------------------------------------- */

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgb(230, 181, 129) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(230, 181, 129);
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, 
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, 
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, 
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
