@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

div
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

html, body
{
    padding: 0px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}

header
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 150px;

    background-color: #1B4965;
}

.header-item
{
    color: white;
}

.vertical-line {
    border-left: 3px solid #1B4965;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.main-block{
    background-color: #BEE9E8;
    width: 700px;
    padding: 20px;
    border-radius: 50px; 
}

.text-block h1
{
    text-shadow:
    1px 1px 2px red,
    0 0 1em rgb(250, 180, 17),
    0 0 0.2em rgb(85, 255, 0);
}

.text-block
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main
{
    background-image: url(https://images.wallpaperscraft.ru/image/single/kod_programmirovanie_tekst_155013_1920x1080.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
}

.menu
{
    background-color: #BEE9E8;
    padding: 10px;
    border-radius: 15px;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h2
{
    transition: 0.2s;
}

.menu h2:hover
{
    scale: 1.05;
    text-decoration: underline;
    transition: 0.2s;
}

.two-image img
{
    position: absolute;
    width: 250px;
    height: 250px;
}

.two-image img:first-child
{
    right: 165px;
    top: 140px;
    box-shadow: -30px 40px 12px 13px rgba(34, 60, 80, 0.5);
}

.two-image img:last-child
{
    right: 120px;
    top:190px;
}

.wrapper-block
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 100px auto;
}

.two-image
{
    background-color: #BEE9E8;
    border-radius: 30px;
    width: 380px;
    height: 380px;
}

/* ------------------------------------------------- */

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgb(230, 181, 129) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(230, 181, 129);
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, 
  .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, 
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, 
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
